
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(95, 93, 93, 0.671); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
    border-radius: 20%;
    line-height:40px;
transition: all 0.7s ease-in-out;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


*{
    text-align: center;
    /* font-family: lobster; */
    font-size: medium;
}
#h1{
    font-size: xx-large 
}
#image{
border: thin
}
.fahaf{
    padding: 1%;
margin: 1%;
text-align: center;
font-size:large;
width: 100%;
line-height: 85px;


}

#farvouite{
    background-color: red;
    color: white;

}
#order{
    background-color: green;
    color: white;
    font-size:large
}
#p2,#s1{display: inline;}
h1{
font-size:larger


}